In [1]:
import numpy as np

In [2]:
import pandas as pd

In [13]:
from numpy.random import randn

In [3]:
#index levels
outside='G1 G1 G1 G2 G2 G2'.split()
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [6]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
inside

[1, 2, 3, 1, 2, 3]

In [8]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [11]:
hier_index

MultiIndex(levels=[[u'G1', u'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [14]:
#creating a dataframe now
df=pd.DataFrame(randn(6,2),hier_index) #setting index as hier_index

In [15]:
df

             0         1
G1 1 -1.082329  1.429606
   2  0.984493 -0.272796
   3 -0.568620 -1.794971
G2 1  1.504474  1.525290
   2  1.304030 -0.777297
   3 -0.969345  0.398404

In [16]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B']) #setting column names as A B

In [17]:
df

             A         B
G1 1  1.031302 -1.093300
   2  0.044275  0.418290
   3 -0.807995 -2.057532
G2 1  0.442948 -0.749034
   2 -1.477869  0.949799
   3 -0.369205  0.168219

see help on DataFrames by shift tab to know all args that it takes (data,index,column)

now we have two index level here Gs and nums

__indexing__

In [18]:
#from outer index
df.loc['G1']

          A         B
1  1.031302 -1.093300
2  0.044275  0.418290
3 -0.807995 -2.057532

In [19]:
#also 
df.loc['G2'] #can use iloc also

          A         B
1  0.442948 -0.749034
2 -1.477869  0.949799
3 -0.369205  0.168219

In [21]:
#to inner index
df.loc['G1'].loc[1] #returns a series

A    1.031302
B   -1.093300
Name: 1, dtype: float64

In [22]:
#to a particular data
df.loc['G1'].loc[1]['A'] #returns A at row 1 in G1

1.0313019205394096

indexes can also be named as below

In [26]:
df.index.names

FrozenList([None, None])

right now its none

In [29]:
df.index.names = ['Groups','Nums']

In [30]:
df

                    A         B
Groups Nums
G1     1     1.031302 -1.093300
       2     0.044275  0.418290
       3    -0.807995 -2.057532
G2     1     0.442948 -0.749034
       2    -1.477869  0.949799
       3    -0.369205  0.168219

__cross section xs() __ method

there is one more way to grab elements from multi indexed dataframe

In [31]:
df

                    A         B
Groups Nums
G1     1     1.031302 -1.093300
       2     0.044275  0.418290
       3    -0.807995 -2.057532
G2     1     0.442948 -0.749034
       2    -1.477869  0.949799
       3    -0.369205  0.168219

In [32]:
df.xs('G1')

             A         B
Nums
1     1.031302 -1.093300
2     0.044275  0.418290
3    -0.807995 -2.057532

note here it goes inside one level. nums are displayed and G1 is not

this is helpful if we want to grab items from sublevel say 1 from G1 and 1from G2 can be done as below

In [33]:
df

                    A         B
Groups Nums
G1     1     1.031302 -1.093300
       2     0.044275  0.418290
       3    -0.807995 -2.057532
G2     1     0.442948 -0.749034
       2    -1.477869  0.949799
       3    -0.369205  0.168219

In [34]:
df.xs(1,level='Nums')

               A         B
Groups
G1      1.031302 -1.093300
G2      0.442948 -0.749034

gives G1.1 and G2.2