__DataFrame__:

dataframe is kind of multiple series with same index

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
np.random.seed(101) #seed creation for random number

In [5]:
#randn gives a sample of normal distribution
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [6]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

so dataframe looks like above and its much like an excel

In [12]:
#grab a column
df['w']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

it gives a series as stated above

In [15]:
#lets verify
type(df['w'])

pandas.core.series.Series

In [16]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df['x']

a    0.628133
b   -0.319318
c    0.740122
d   -0.758872
e    1.978757
Name: x, dtype: float64

now df can also be accessed via . format as below

In [14]:
df.w

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

but its kind of confusing with methods and attributes on df and column so [] notation is advisable

when one column is accessed it returns a series if more are asked returns a dataframe

In [17]:
df[['w','x']]

          w         x
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
d  0.188695 -0.758872
e  0.190794  1.978757

__creating a new column__

In [18]:
#throws an error this way can't be created throws key error
df['new']

KeyError: 'new'

In [19]:
#use below method
df['new']=df['w'] + df['y']

now new would be addition of w and y as below

In [20]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

__dropping a column__

In [21]:
#the drop method but it shows error not contained in axis use shift tab to view axis details
#axis 0 is row and axis 1 is column we are dropping a column so axis must be 1 by default its 0
df.drop('new')

ValueError: labels ['new'] not contained in axis

In [22]:
#this is how its done
df.drop('new',axis=1)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

interestingly its not dropped from df see below

In [23]:
#new would still be there
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

the reason is there's one more arg inplace which by default is False. this is done in dataframe to avoid accidental remove of data. to remove it on purpose inplace should be set to true as below

In [24]:
df.drop('new',axis=1,inplace=True)

In [25]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

voilaaa

same way rows can be removed by selecting row name and axis=0 as below

In [26]:
df.drop('e',axis=0) #no need to explicitly put axis=0 its 0 by default

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [27]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

__??? why rows at axis 0 and column at 1__

the reference actually comes from numpy. dataframes are index marker on top of numpy array. see below

In [28]:
df.shape

(5, 4)

it gives a tuple with index 0 as rows and index 1 as columns hence the axis

In [29]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

__selecting rows__

can done by two methods

In [30]:
df.loc['a'] #note [] instead of () this is how it works in pandas

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

now it returns a series. so both columns and rows are series in dataframes

In [31]:
df.loc[['a','b']]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965

In [32]:
df.iloc[0] #index based selection here a is at index 0

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

__subset selection__

In [34]:
df.loc['a','w'] #gives content of a row and w column

2.706849839399938

In [35]:
df.loc['b':,'x':] #row b onwards column x onwards

          x         y         z
b -0.319318 -0.848077  0.605965
c  0.740122  0.528813 -0.589001
d -0.758872 -0.933237  0.955057
e  1.978757  2.605967  0.683509

In [36]:
#also as below
df.loc[['c','d'],['w','y']]

          w         y
c -2.018168  0.528813
d  0.188695 -0.933237

__notes:__

rows and columns are both series

axis 0 for rows and 1 for columns