pndas has ability to read and write data from a wide variety of sources. most common are listed below.

__CSV__,__HTML__(from the web),__SQL__ and __excel__

In [1]:
import numpy as np
import pandas as pd

to work with files we should have files in pwd

In [2]:
pwd

u'/home/prashant/workspace/repository/Pthon_progs/data_science_modules/pandas'

In [3]:
ls -l Ex*

-rw-r--r-- 1 prashant prashant 5508 Apr 15 20:16 Excel_Sample.xlsx

In [4]:
ls -l example

-rw-r--r-- 1 prashant prashant 46 Apr 15 20:16 example

so we have an excel and csv files here

In [5]:
cat example

a,b,c,d
0,1,2,3
4,5,6,7
8,9,10,11
12,13,14,15

lets read this file from pandas function read_csv

In [6]:
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
import pymysql

In [8]:
conn=pymysql.connect(host='localhost',port=3306,user='root',password='786Vx@#$',db='testdb')

In [10]:
cur=conn.cursor()

In [23]:
cur.execute('select * from friends')

8

In [24]:
print cur.description

((u'name', 253, None, 20, 20, 0, True), (u'contact', 3, None, 11, 11, 0, True), (u'sex', 254, None, 1, 1, 0, True))

In [25]:
lst=[]
for row in cur:
    print row
    lst.append(row)

('prashant', 100, None)
('sandeep', 101, None)
('satya', 102, None)
('radha', 103, None)
('prashant', 100, 'M')
('sandeep', 101, 'M')
('satya', 102, 'M')
('radha', 103, 'F')

In [26]:
lst

[('prashant', 100, None),
 ('sandeep', 101, None),
 ('satya', 102, None),
 ('radha', 103, None),
 ('prashant', 100, 'M'),
 ('sandeep', 101, 'M'),
 ('satya', 102, 'M'),
 ('radha', 103, 'F')]

In [20]:
cur.description

ArgumentError: Could not parse rfc1738 URL from string 'conn'