pndas has ability to read and write data from a wide variety of sources. most common are listed below.

__CSV__,__HTML__(from the web),__SQL__ and __excel__

In [1]:
import numpy as np
import pandas as pd

to work with files we should have files in pwd

In [2]:
pwd

u'/home/prashant/workspace/repository/Pthon_progs/data_science_modules/pandas'

In [3]:
ls -l Ex*

-rw-r--r-- 1 prashant prashant 5508 Apr 15 20:16 Excel_Sample.xlsx

In [4]:
ls -l example

-rw-r--r-- 1 prashant prashant 46 Apr 15 20:16 example

so we have an excel and csv files here

In [4]:
cat example

a,b,c,d
0,1,2,3
4,5,6,7
8,9,10,11
12,13,14,15

lets read this file from pandas function read_csv

In [6]:
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [26]:
import pymysql

In [27]:
conn=pymysql.connect(host='localhost',port=3306,user='root',password='786Vx@#$',db='testdb')

In [50]:
cur=conn.cursor()

In [51]:
cur.execute('select * from friends')

8

In [43]:
print cur.description

((u'name', 253, None, 20, 20, 0, True), (u'contact', 3, None, 11, 11, 0, True), (u'sex', 254, None, 1, 1, 0, True))

In [40]:
lst=[]
for row in cur:
    print row
    lst.append(row)

In [24]:
test=''.join(lst[0])
test

TypeError: sequence item 1: expected string, int found

In [52]:
with open('samplefile.csv','a') as sample:
    for row in cur:
        print row
        item=''.join(row)
        sample.write(item)

('prashant', 100, None)

TypeError: sequence item 1: expected string, int found

In [55]:
print row

('prashant', 100, None)

In [57]:
row1=''.join(row)

TypeError: sequence item 1: expected string, int found

In [59]:
name=('prashant','rahul','satya')

In [60]:
name

('prashant', 'rahul', 'satya')

In [61]:
''.join(name)

'prashantrahulsatya'